@import "~antd/dist/antd.css";

.app,
#root {
  height: 100vh;
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px 10px;
}
.app__inner {
  padding-top: 10px;
  background-color: transparent;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.app {
  background-color: transparent;
  font-size: 16px;
}
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  border-bottom: 1px solid #000;
  color: #000000;
}

.footer__inner {
  display: flex;
  justify-content: space-around;
}
.ant-list-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.ant-layout-header {
  line-height: 30px;
}
.ant-list-split .ant-list-item {
  border: none;
}
.link__info {
  &:hover {
    color: blue;
  }
}
